<h1>Lotes para Leilão</h1>

  <% if current_user.present? && current_user.role == 'admin' %>
    <div class="mb-4">
      <div class="text-end mb-3">
        <%= link_to '+ Novo Lote de Leilão', new_auction_lot_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>



  <div class="row">
    <% @auction_lots.each do |lot| %>
      <% lot.products.each do |prd|%>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag(prd.photo, class: "card-img-top", alt: "product image") %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to lot.code, lot %></h5>
              <p class="card-text"><%= prd.category %></p>
              <%= link_to 'Ver Detalhes', lot, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>