<h1 class="text-center">Lotes para Leilão</h1>

  <div class="mb-4">
    <div class="text-end mb-3">
      <%= link_to '+ Novo Lote de Leilão', new_auction_lot_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="text-start mb-5">
    <%= link_to 'Voltar', root_path, class: "btn btn-secondary mb-5 ms-5" %>
  </div>

  <div class="row">
    <% @auction_lots.each do |lot| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Código: <%= lot.code%></h5>
              <dl>
                <dt>Inicio: </dt>
                <dd><%= I18n.localize lot.start_date%></dd>
                <dt>Final: </dt>
                <dd><%= I18n.localize lot.end_date%></dd>
              </dl>
              <%= link_to 'Ver Detalhes', lot, class: "btn btn-primary", id: dom_id(lot) %>
            </div>
          </div>
        </div>
    <% end %>
  </div>