<div class="container">
  <h3 class="text-center">Validação de resultados dos leilões</h3>
  
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
  
    <%= link_to 'Voltar', root_path, class: "btn btn-secondary mb-5" %>
  
  <div class="row">
    <% @auction_lots.each do |lot| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <% if lot.bids.any? %>
              <% bid = lot.bids.last %>
              <h5 class="card-title"><%= link_to lot.code, lot %></h5>
              <dl class="row mb-0">
                <dt class="col-sm-6">Encerrado em:</dt>
                <dd class="col-sm-6"><%= lot.end_date.strftime("%d/%m/%Y") %></dd>
                <dt class="col-sm-6">Valor inicial:</dt>
                <dd class="col-sm-6"><%= number_to_currency lot.minimum_value %></dd>
                <dt class="col-sm-6">Ultimo lance:</dt>
                <dd class="col-sm-6"><%= number_to_currency bid.amount %></dd>
                <dt class="col-sm-6">Ganhador:</dt>
                <dd class="col-sm-6"><%= bid.user.name %></dd>
              </dl>
              <%= button_to 'Finalizar', closed_auction_lot_path(lot.id), id: dom_id(lot), class: "btn btn-primary mt-3" %>
            <% else %>
              <h5 class="card-title"><%= link_to lot.code, lot %></h5>
              <dl class="row mb-0">
                <dt class="col-sm-6">Encerrado em:</dt>
                <dd class="col-sm-6"><%= lot.end_date.strftime("%d/%m/%Y") %></dd>
                <dt class="col-sm-6">Valor inicial:</dt>
                <dd class="col-sm-6"><%= number_to_currency lot.minimum_value %></dd>
                <dt class="col-sm-6">Nenhum lance registrado.</dt>
              </dl>
              <%= button_to 'Cancelar', cancel_auction_lot_path(lot.id), id: dom_id(lot), class: "btn btn-danger mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>