<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h3>Código do Leilão: <%= @auction_lot.code %></h3>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-3">Data inicio: </dt>
        <dd class="col-sm-9"><%= I18n.localize@auction_lot.start_date %></dd>
        <dt class="col-sm-3">Data final do lote: </dt>
        <dd class="col-sm-9"><%= I18n.localize@auction_lot.end_date %></dd>
        <dt class="col-sm-3">Valor mínimo: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.minimum_value %></dd>
        <dt class="col-sm-3">Valor diferença: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.diff_value %></dd>
        <dt class="col-sm-3">Responsável: </dt>
        <dd class="col-sm-9"><%= @auction_lot.admin_record %></dd>
        <dt class="col-sm-3">Aprovado por: </dt>
        <dd class="col-sm-9"><%= @auction_lot.admin_approve %></dd>
        <dt class="col-sm-3">Status: </dt>
        <dd class="col-sm-9"><%= I18n.t(@auction_lot.status) %></dd>
      </dl>
    </div>
    
    <div class="col-md-6">
      <% @auction_lot.product_items.each do |item|%>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card mr-3">
            <div class="media">
              <%= image_tag(item.product.photo, class: "mr-3", alt: "product image", style: "height: 100%; width: 100%; object-fit: cover;") %>
              <div class="media-body">
                <%= button_to "Remover", auction_lot_product_item_path(auction_lot_id: @auction_lot, id: item), method: :delete, class:"btn btn-danger", id: dom_id(item)%>
                <h5 class="card-title"><%= item.product.name %></h5>
                <p class="card-text"><%= item.product.description %></p>
                <p class="card-text">Categoria: <%= item.product.category %></p>
                <p class="card-text">Dimensões: <%= dimension(item.product.height, item.product.width, item.product.depth) %></p>
                <p class="card-text">Peso: <%= item.product.weight %>g</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if @auction_lot.active? %>
    <div>
      <dl>
        <dt class="col-sm-3">Ultimo lance: </dt>
        <% unless @amount.nil? %>
        <dd class="col-sm-9"><%= number_to_currency @amount.amount %></dd>
        <% else %>
        <dd class="col-sm-9">Nenhum lance foi dado até o momento</dd>
        <% end %>
      </dl>
    </div>
  <%= form_with(model: [@auction_lot, @bid], local: true) do |f| %>

    <div class="form-group">
      <%= f.label :amount, "Valor do lance" %>
      <%= f.number_field :amount, class: "form-control", size: 10 %>
    </div>

    <%= f.submit "Enviar lance", class: "btn btn-primary" %>
  <% end %>
  <% end %>
</div>
<%= link_to 'Voltar', root_path %>
<%= form_with url: favorites_path, method: :post do |form| %>
  <%= form.hidden_field :auction_lot_id, value: @auction_lot.id %>
  <%= form.submit "Favoritar" %>
<% end %>
 </div>
    <% if @auction_lot.draft?%>
      <% if current_user.present? && current_user.admin?%>
        <div class="col-md-6">
          <%= link_to 'Editar', edit_auction_lot_path, class: "btn btn-primary" %>
        </div>

        <div class="col-md-6">
          <%= link_to 'Adicionar Items', new_auction_lot_product_item_path(auction_lot_id: @auction_lot.id), class:"btn btn-warning" %>
        </div>
        <div class="col-md-6">
          <%= button_to 'Aprovar', active_auction_lot_path(@auction_lot.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>