<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h3>Código do Leilão: <%= @auction_lot.code %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-3">Produto: </dt>
        <dd class="col-sm-9"><%= @auction_lot.product.name %></dd>
        <dt class="col-sm-3">Data inicio: </dt>
        <dd class="col-sm-9"><%= @auction_lot.start_date %></dd>
        <dt class="col-sm-3">Data final do lote: </dt>
        <dd class="col-sm-9"><%= I18n.localize@auction_lot.end_date %></dd>
        <dt class="col-sm-3">Valor mínimo: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.minimum_value %></dd>
        <dt class="col-sm-3">Valor diferença: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.diff_value %></dd>
        <dt class="col-sm-3">Responsável: </dt>
        <dd class="col-sm-9"><%= @auction_lot.admin_record %></dd>
      </dl>
    </div>

    <div class="col-md-6">
      <%= link_to 'Editar', edit_auction_lot_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
