<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h3>Código do Leilão: <%= @auction_lot.code %></h3>
    </div>
  </div>

  <% if(@bid.errors.any?) %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% @bid.errors.full_messages.each do |msg| %>
      <li><%= msg %> </li>
      <% end %>
  </ul>
<% end %>

  <div class="row no-gutters">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-3">Data inicio: </dt>
        <dd class="col-sm-9"><%= I18n.localize@auction_lot.start_date %></dd>
        <dt class="col-sm-3">Data final do lote: </dt>
        <dd class="col-sm-9"><%= I18n.localize@auction_lot.end_date %></dd>
        <dt class="col-sm-3">Valor mínimo: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.minimum_value %></dd>
        <dt class="col-sm-3">Valor diferença: </dt>
        <dd class="col-sm-9"><%= number_to_currency @auction_lot.diff_value %></dd>
        <dt class="col-sm-3">Responsável: </dt>
        <dd class="col-sm-9"><%= @auction_lot.admin_record %></dd>
      </dl>
    </div>
    
    <div class="col-md-6">
      <% @auction_lot.product_items.each do |item|%>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="card mr-3">
            <%= image_tag(item.product.photo, class: "card-img-top", alt: "product image", style: "height: 100%; width: 100%; object-fit: cover;") %>
            <%= button_to "Remover #{item.product.name}", auction_lot_product_item_path(auction_lot_id: @auction_lot, id: item), method: :delete, class:"btn btn-danger"%>
            <div class="card-body">
              <h5 class="card-title"><%= item.product.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <dl>
        <dt class="col-sm-3">Ultimo lance: </dt>
        <% unless @amount.nil? %>
        <dd class="col-sm-9"><%= number_to_currency @amount.amount %></dd>
        <% else %>
        <dd class="col-sm-9">Nenhum lance foi dado até o momento</dd>
        <% end %>
      </dl>
    </div>
  <%= form_with(model: [@auction_lot, @bid], local: true) do |f| %>
    <% if @bid.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

        <ul>
        <% @bid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :amount, "Valor do lance" %>
      <%= f.number_field :amount, class: "form-control", size: 10 %>
    </div>

    <%= f.submit "Enviar lance", class: "btn btn-primary" %>
  <% end %>
</div>

    <div class="col-md-6">
      <%= link_to 'Adicionar Items', new_auction_lot_product_item_path(auction_lot_id: @auction_lot.id), class:"btn btn-warning" %>
    </div>

    <div class="col-md-6">
      <%= link_to 'Editar', edit_auction_lot_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>