<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Site do Leilão', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-nowrap">
        <li class="nav-item">
          <%= link_to 'Produtos', products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lote de leilão', auction_lots_path, class: 'nav-link text-truncate' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Resultados', results_auction_lots_path, class: 'nav-link text-truncate' %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if user_signed_in? %>
        <span class="navbar-text mx-3">Olá <%= current_user.name %></span>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:"btn btn-light"%>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-outline-primary me-3' %>
      <% end %>
    </div>
  </div>
</nav>