<div class="container custom-background">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>
  <h2>Lotes para Leilão:</h2>

  <h3 class="text-center">Proximos Lotes</h3>
  <div class="row">
    <% @auction_lots_actives.each do |lot| %>
      <% lot.product_items.each_with_index do |pdi, index|%>
        <% if index == 0 %>
          <% if lot.start_date > Date.today %>
            <div class="col-md-3">
              <div class="card mb-4 card-height alert alert-warning ">
                <%= image_tag(pdi.product.photo, class: "card-img-top", alt: "product image", style: "height: 100%; width: 100%; object-fit: cover;") %>
                <div class="card-body">
                  <p class="card-text">Código: <%= lot.code %></p>
                  <p class="card-text">Inicio: <%= lot.start_date.strftime("%d/%m/%Y") %></p>
                  <p class="card-text">Categoria: <%= pdi.product.category %></p>
                  <div class= "alert alert-success" role="alert">
                    <p class="card-text">Status: <%= I18n.t(lot.status) %></p>
                  </div>
                  <%= link_to 'Ver Detalhes', lot, class: "btn btn-primary", id: dom_id(lot) %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <h3 class="text-center">Lotes Iniciados</h3>
  <div class="row">
    <% @auction_lots_actives.each do |lot| %>
      <% lot.product_items.each_with_index do |pdi, index|%>
      	<% if index == 0 %>
          <% if lot.start_date <= Date.today %>
            <div class="col-md-3">
              <div class="card mb-4 card-height">
                <%= image_tag(pdi.product.photo, class: "card-img-top", alt: "product image", style: "height: 100%; width: 100%; object-fit: cover;") %>
                <div class="card-body">
                  <p class="card-text">Código: <%= lot.code %></p>
                  <p class="card-text">Inicio: <%= lot.start_date.strftime("%d/%m/%Y") %></p>
                  <p class="card-text">Final: <%= lot.end_date.strftime("%d/%m/%Y") %></p>
                  <p class="card-text">Categoria: <%= pdi.product.category %></p>
                  <div class="alert alert-success" role="alert">
                    <p class="card-text">Status: <%= I18n.t(lot.status) %></p>
                  </div>
                  <%= link_to 'Ver Detalhes', lot, class: "btn btn-primary", id: dom_id(lot) %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>