  <%= link_to 'Voltar', products_path, class: "btn btn-secondary mr-2 mt-3 mr-auto mb-4" %>

  <% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>

  <% if(@product.errors.any?) %>
    <div class="alert alert-danger">
      <p>Verifique os erros abaixo:</p>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @product) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", size: 10, style: "width: 180px;" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", size: 10, style: "width: 200px;" %>
    </div>

    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: "form-control-file", size: 10, style: "width: 800px;" %>
    </div>

    <div class="form-group">
      <%= f.label :weight %>
      <%= f.number_field :weight, class: "form-control", size: 10, style: "width: 150px;" %>
    </div>

    <div class="form-group">
      <%= f.label :width %>
      <%= f.number_field :width, class: "form-control", size: 10, style: "width: 150px;" %>
    </div>

    <div class="form-group">
      <%= f.label :height %>
      <%= f.number_field :height, class: "form-control", size: 10, style: "width: 150px;" %>
    </div>

    <div class="form-group">
      <%= f.label :depth %>
      <%= f.number_field :depth, class: "form-control", size: 10, style: "width: 150px;" %>
    </div>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control", size: 10, style: "width: 150px;" %>
    </div>

    <div class="form-group">
      <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>