<div class="container mt-4">
  <h1 class="text-center">Lista de Produtos</h1>

    <div class="mb-4">
      <div class="text-end mb-3">
        <%= link_to '+ Novo Produto', new_product_path, class: "btn btn-primary" %>
      </div>
    </div>

  <%= link_to 'Voltar', root_path,  class: "btn btn-secondary mb-5 ms-5"%>

  <% if @products.any? %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @products.each do |product| %>
        <div class="col mb-4">
          <div class="card h-100">
            <% if product.photo.attached? %>
              <%= image_tag(product.photo, class: "card-img-top", style: "height: 200px; object-fit: cover;") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to product.name, product %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text"><%= dimension(product.height, product.width, product.depth) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Não existem produtos cadastrados.</p>
  <% end %>
</div>