<h1>Criação de Pedido</h1>

<% if(@product.errors.any?) %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %> </li>
      <% end %>
  </ul>
<% end %>

<%= form_with(model: @product) do | f |%>

  <div>
    <%= f.label :name, "Nome"%>
    <%= f.text_field :name%>
  </div>

  <div>
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description%>
  </div>

  <div>
    <%= f.label :photo, "Foto do Produto" %>
    <%= f.file_field :photo%>
  </div>

  <div>
    <%= f.label :weight, "Peso" %>
    <%= f.number_field :weight%>
  </div>

  <div>
    <%= f.label :width, "Largura" %>
    <%= f.number_field :width%>
  </div>

  <div>
    <%= f.label :height, "Altura" %>
    <%= f.number_field :height%>
  </div>

  <div>
    <%= f.label :depth, "Profundidade" %>
    <%= f.number_field :depth%>
  </div>

  <div>
    <%= f.label :category, "Categoria" %>
    <%= f.text_field :category%>
  </div>

  <div>
    <%= f.submit "Enviar" %>
  </div>

<% end %>